@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <center><h1>My Merch Tracker</h1></center>
</div>
<div class="row">
    <div class="col-md-4">
        <center><h2>Welcome to My Merch Tracker</h2></center>
        <p>
            My Merch Tracker is an easy way to keep
            track of the merch you sell and when you need to re-order.
        </p>
    </div>
    <div class="col-md-4">
        <h2>T-Shirt Drawing Here</h2>
        @*<p>You can build the application by following the steps in a series of tutorials.</p>
            <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Cap Drawing Here</h2>
        @*<p>You can download the completed project from GitHub.</p>
            <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>*@
    </div>
</div>
